html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

a {
    background-color: transparent
}


img {
    border-style: none
}

/*
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}*/

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

/*
.icon-facebook:before {
    content: "\e900"
}

.icon-facebook2:before {
    content: "\e901"
}

.icon-instagram:before {
    content: "\e902"
}

.icon-youtube:before {
    content: "\e903"
}

.icon-arrrow-bottom:before {
    content: "\e905"
}

.icon-arrow-top:before {
    content: "\e906"
}

.icon-arrow-left:before {
    content: "\e907"
}

.icon-arrow-right:before {
    content: "\e908"
}*/

.icon-menu:before {
    content: "\e900"
}

* {
    box-sizing: border-box
}

body {
    color: #16191C;
    /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif*/
}

a {
    color: inherit;
    text-decoration: none
}

.slick-slider {
    margin-bottom: 0
}

.layout {
    margin: 0 auto;
    max-width: 1340px;
    padding: 0 20px;
    width: 100%
}

.Header {
    background-color: #16191C;
    color: #ffff;
    padding: 20px 0
}

.Header figure {
    margin: 0;
    padding: 0;
    width: 200px
}

.Header-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 20px;
    position: relative;
    width: 100%
}

#menu {
    color: #ffff;
    cursor: pointer;
    display: none;
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 20
}

.Menu {
    align-items: flex-start;
    display: flex;
    position: relative;
    width: calc(100% - 380px)
}

.Menu ul {
    display: flex;
    list-style-type: none;
    margin: 0
}

.Menu-main {
    justify-content: space-between;
    padding: 14px 60px 10px 0;
    width: 100%
}

.Menu-icons {
    align-items: center;
    padding: 10px 0
}

.Menu-icons li {
    font-weight: 700;
    margin-left: 20px
}

/*
.Barra {
    background-color: #454545;
    left: -50px;
    margin-top: 70px;
    position: absolute;
    width: calc(100% + 50px);
    z-index: 2
}

.Barra form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px
}

.Barra-col {
    width: calc(20% - 30px)
}

.Barra-col select {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 5px
}

.Barra-col select:focus {
    outline: none
}

.Barra-col option {
    color: #1d1d1b
}

.Barra .col2,
.Barra .col3,
.Barra .col4 {
    padding-left: 30px;
    padding-right: 20px;
    position: relative
}

.Barra .col2 img,
.Barra .col3 img,
.Barra .col4 img {
    left: 0;
    position: absolute
}

.Barra .col2 input,
.Barra .col3 input,
.Barra .col4 input {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 5px;
    width: 100%
}

.Barra .col2 input:focus,
.Barra .col3 input:focus,
.Barra .col4 input:focus {
    outline: none
}

.Barra .col2 input::-moz-placeholder,
.Barra .col3 input::-moz-placeholder,
.Barra .col4 input::-moz-placeholder {
    color: #fff
}

.Barra .col2 input:-ms-input-placeholder,
.Barra .col3 input:-ms-input-placeholder,
.Barra .col4 input:-ms-input-placeholder {
    color: #fff
}

.Barra .col2 input::placeholder,
.Barra .col3 input::placeholder,
.Barra .col4 input::placeholder {
    color: #fff
}

.Barra .col5 button {
    background-color: #a58b4e;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 5px 20px
}

.Barra .col5 button:focus {
    outline: none
}

.Barra .col6 a {
    font-size: 14px
}
*/
.Footer {
    background-color: #1d1d1b;
    color: #fff;
    text-align: center
}

.Footer-top {
    border-bottom: 1px solid hsla(0, 0%, 100%, .2);
    padding: 40px 20px 20px
}

.Footer-top p {
    color: #aaa6a6;
    display: inline-block;
    margin: 0
}

.Footer-top p img {
    display: inline-block;
    transform: translateX(-100px);
    vertical-align: middle
}

.Footer-middle {
    color: #aaa6a6;
    padding: 20px 0
}

.Footer-middle-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

.Footer-middle-links a {
    margin: 0 20px
}

.Footer-middle-links .icon {
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    padding-bottom: 5px;
    vertical-align: middle
}

.Footer-middle-back {
    padding: 0 20px
}

.Footer-middle-back a {
    background-color: #fff;
    color: #1d1d1b;
    display: inline-block;
    font-size: 20px;
    padding: 12px;
    vertical-align: top
}

.Footer-bottom {
    background-color: #454545;
    padding: 30px 20px
}

@media screen and (max-width:1340px) {
    .Barra {
        left: -380px;
        margin-top: 100px;
        width: calc(100% + 380px)
    }
}

@media screen and (max-width:1200px) {
    .Barra {
        left: -320px;
        width: calc(100% + 320px)
    }

    .Menu {
        width: calc(100% - 320px)
    }

    .Menu-main {
        padding: 14px 10px 10px 0
    }

    .Menu-icons li {
        margin-left: 10px
    }
}

@media screen and (max-width:980px) {

    #menu,
    .Menu {
        display: block
    }

    .Menu {
        background-color: #1d1d1b;
        height: 100%;
        max-width: 320px;
        padding: 86px 20px 20px;
        position: fixed;
        right: -320px;
        top: 0;
        transition: all .2s ease-in;
        width: 100%;
        z-index: 10
    }

    .Menu.show {
        right: 0
    }

    .Menu-main {
        display: block !important
    }

    .Menu-main li {
        margin: 20px 0
    }

    .Menu-main li a {
        display: block
    }

    .Menu-icons {
        justify-content: center
    }

    .Barra {
        left: auto;
        margin-left: 10px;
        margin-top: 0;
        position: relative;
        width: calc(100% - 20px);
        z-index: 12
    }

    .Barra form {
        display: block
    }

    .Barra-col {
        margin: 10px 0;
        width: 100%
    }

    .Barra-col select {
        width: 100%
    }

    .Barra .col5 button {
        display: block;
        width: 100%
    }

    .Barra .col6 {
        text-align: center
    }

    .Barra .col2,
    .Barra .col3,
    .Barra .col4 {
        padding-right: 0
    }
}

@media screen and (max-width:920px) {
    .Footer-top p img {
        display: block;
        margin: 20px auto;
        transform: translateX(0)
    }

    .Footer-middle-links {
        display: block
    }

    .Footer-middle-links a {
        display: inline-block;
        margin: 20px;
        position: relative
    }

    .Footer-middle-links a:after {
        content: "";
        display: block
    }
}

.slick-dots {
    bottom: 0
}

.slick-dots li button {
    background-color: #fff;
    border-radius: 100%;
    height: 8px;
    width: 8px
}

.slick-dots li button:before {
    display: none
}

.slick-dots li.slick-active button {
    background-color: #a58b4e
}

.Home-banners-item {
    position: relative
}

.Home-banners-item-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.Home-banners-item-text h2 {
    color: #fff;
    font-size: 42px;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .7)
}

.Home-banners-item-text h2 span {
    display: block;
    font-size: 28px;
    font-weight: 300;
    margin-top: 5px
}

.Home-banners img {
    display: block;
    width: 100%
}

.Home-title {
    padding: 60px 0;
    text-align: center
}

.Home-title h1 {
    font-size: 48px;
    font-weight: 300;
    margin: 0 0 20px
}

.Home-title h1 span {
    font-weight: 700
}

.Home-title p {
    line-height: 1.4em;
    margin: 0 auto;
    max-width: 1100px
}

.Home-card {
    margin: 50px 0
}

.Home-card-container {
    display: flex;
    justify-content: space-between;
    text-align: center
}

.Home-card-image {
    min-height: 480px;
    position: relative;
    width: calc(50% - 20px)
}

.Home-card-image:before {
    background-color: #a58b4e;
    content: "";
    height: 100%;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 100%;
    z-index: -1
}

.Home-card-image.right:before {
    bottom: -15px;
    left: -15px;
    right: auto;
    top: auto
}

.Home-card-image img {
    display: none
}

.Home-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%
}

.Home-card-text h2 {
    font-size: 48px;
    font-weight: 300;
    margin: 0
}

.Home-card-text h2 span {
    font-weight: 700
}

.Home-card-text p {
    line-height: 1.2em;
    margin: 30px 0
}

.Home-card-text p span {
    font-size: 14px
}

.Home-card-text a {
    background-color: #1d1d1b;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 12px 50px;
    vertical-align: top
}

.Home-expectativas {
    background: url(../images/home/img_2.jpg) no-repeat;
    background-position: 50%;
    background-size: cover;
    color: #fff;
    padding: 80px 0;
    text-align: center
}

.Home-expectativas-title h2 {
    font-size: 42px;
    font-weight: 300;
    margin: 0
}

.Home-expectativas-title h2 span {
    font-weight: 700
}

.Home-expectativas-title p {
    line-height: 1.4em;
    margin: 40px auto;
    max-width: 700px
}

.Home-expectativas-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
}

.Home-expectativas-icons-item {
    margin: 10px 15px;
    width: calc(25% - 30px)
}

.Home-expectativas-icons-item img {
    display: block;
    margin: 0 auto
}

.Home-expectativas-cta {
    padding-top: 40px
}

.Home-expectativas-cta a {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 14px 40px
}

.Home-expectativas-cta p {
    font-size: 14px
}

.Home-relax {
    margin: 50px 0;
    text-align: center
}

.Home-relax h2 {
    font-size: 48px;
    font-weight: 300;
    margin: 0
}

.Home-relax h2 span {
    font-weight: 700
}

.Home-relax p {
    line-height: 1.2em;
    margin: 30px 0
}

.Home-relax p span {
    font-size: 14px
}

.Home-relax a {
    display: inline-block;
    font-size: 18px;
    padding: 12px 50px;
    vertical-align: top
}

.Home-footer,
.Home-relax a {
    background-color: #1d1d1b;
    color: #fff
}

.Home-footer {
    margin-bottom: 40px;
    padding: 60px 0
}

.Home-footer-container {
    align-items: center;
    display: flex;
    justify-content: center
}

.Home-footer-text h2 {
    font-size: 44px;
    margin: 0
}

.Home-footer-text h2 span {
    font-weight: 300
}

.Home-footer-cta {
    padding-left: 100px
}

.Home-footer-cta a {
    background-color: #fff;
    color: #1d1d1b;
    display: inline-block;
    padding: 14px 40px
}

@media screen and (max-width:920px) {
    .Home-card-container {
        display: block
    }

    .Home-card-image {
        background: none;
        min-height: auto;
        width: 100%
    }

    .Home-card-image img {
        display: block;
        max-width: 100%
    }

    .Home-card-text {
        display: block;
        margin: 40px 0;
        width: 100%
    }

    .Home-card-text h2 {
        font-size: 28px;
        font-weight: 300
    }

    .Home-footer-container {
        display: block
    }

    .Home-footer-text {
        text-align: center
    }

    .Home-footer-text h2 {
        font-size: 24px
    }

    .Home-footer-cta {
        padding-left: 0;
        text-align: center
    }

    .Home-relax h2 {
        font-size: 28px
    }
}

@media screen and (max-width:880px) {
    .Home-banners-item-text h2 {
        font-size: 24px
    }

    .Home-banners-item-text h2 span {
        font-size: 18px
    }

    .Home-expectativas-title h2 {
        font-size: 28px
    }

    .Home-expectativas-icons-item {
        width: calc(33.33% - 30px)
    }
}

@media screen and (max-width:680px) {
    .Home-banners-item-text h2 {
        font-size: 20px
    }

    .Home-banners-item-text h2 span {
        font-size: 16px
    }

    .Home-title h1 {
        font-size: 32px
    }
}

@media screen and (max-width:580px) {
    .Home-expectativas-icons-item {
        width: calc(50% - 30px)
    }
}