{% extends "layouts/base-hotel.html" %}

{% block title %} Gerente {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    
    <div class="py-4 row">

        <div class="col-6  mb-4">
            <div class="card border-0 shadow">
                <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                    <h2 class="fs-5 fw-bold mb-0">Cuentas de Acceso</h2>
                    
                </div>
                <div class="card-body">

                <form action="" method="POST">
                    {% csrf_token %}

                    <ul class="list-group list-group-flush list my--3">

                        {% for user in users %}

                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <svg class="icon text-primary ms-2 me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                                </div>
                                <div class="col-auto ms--2">
                                    <h4 style="text-transform:capitalize;" class="h6 mb-0">
                                        {{user.username}}
                                    </h4>
                                    <div class="d-flex align-items-center">
                                        <!--<div class="bg-success dot rounded-circle me-1"></div> -->
                                        {% for group in user.groups.all %}
                                            {% if user.is_superuser == False %}
                                            <small style="text-transform:capitalize;" >{{group.name}}</small>
                                            {% else %}
                                            <small>Superusuario</small>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                               
                                <div class="col text-end">
                                {% if user.is_superuser == False and user.is_staff == True %}    
                                    <span class="pe-4">Actualizar estatus: </span>
                                            
                                        <select class="form-select-sm" id="{{user.pk}}" name={{user.pk}} aria-label="Default">
                                            <option class="d-flex align-items-center text-tertiary selected"> Opciones </option>
                                            <option value="mantenimiento">Mantenimiento</option>
                                            <option value="camaristas">Camaristas</option>
                                        </select>
                                 {% endif %}   
                                    
                                </div>
                            </div>
                        </li>

                        {% endfor %}
                    </ul>

                    <div class="pt-4">
                        <button type="submit" class="btn btn-pill btn-secondary"> Guardar </button>
                    </div>

                </form>
                </div>
            </div>
        </div>
        
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
